{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Shalom</title>
<!--       <link rel="stylesheet" href="{% static 'bulma.min.css' %}" crossorigin="anonymus">
 -->      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
     <body>
     	<center>
  <section class="section m-auto">
	    <div class="container">	
	    	<h1 class="title is-size-1"> Shalom </h1>
	      <p class="subtitle is-size-5"><strong>Open Bible with Open Code</strong>!</p>	
	    </div>	
	</section>	
	<section class="container m-2 p-4 is-widescreen flex is-flex-direction-row is-flex-wrap-wrap  is-justify-content-space-around">
		<a href="/1/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Genesis</button></a>
		<a href="/2/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Exodus</button></a>
		<a href="/3/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Leviticus</button></a>
		<a href="/4/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Numbers</button>
		<a href="/5/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Deuteronomy</button></a>
		<a href="/6/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Joshua</button></a>
		<a href="/7/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Judges</button></a>
		<a href="/8/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Ruth</button></a>
		<a href="/9/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 Samuel</button></a>
		<a href="/10/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 Samuel</button></a>
		<a href="/11/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 Kings</button></a>
		<a href="/12/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 Kings</button></a>
		<a href="/13/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 Chronicles</button></a>
		<a href="/14/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 Chronicles</button></a>
		<a href="/15/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Ezra</button></a>
		<a href="/16/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Nehemiah</button></a>
		<a href="/17/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Esther</button></a>
		<a href="/18/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Job</button></a>
		<a href="/19/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Psalms</button></a>
		<a href="/20/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Proverbs</button></a>
		<a href="/21/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Ecclesiastes</button></a>
		<a href="/22/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Song of Solomon</button></a>
		<a href="/23/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Isaiah</button></a>
		<a href="/24/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Jeremiah</button></a>
		<a href="/25/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Lamentations</button></a>
		<a href="/26/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Ezekiel</button></a>
		<a href="/27/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Daniel</button></a>
		<a href="/28/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Hosea</button></a>
		<a href="/29/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Joel</button></a>
		<a href="/30/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Amos</button></a>
		<a href="/31/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Obadiah</button></a>
		<a href="/32/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Jonah</button></a>
		<a href="/33/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Micah</button></a>
		<a href="/34/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Nahum</button></a>
		<a href="/35/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Habakkuk</button></a>
		<a href="/36/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Zephaniah</button></a>
		<a href="/37/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Haggai</button></a>
		<a href="/38/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Zechariah</button></a>
		<a href="/39/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Malachi</button></a>
		<br><br>
		<a href="/40/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Matthew</button></a>
		<a href="/41/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Mark</button></a>
		<a href="/42/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Luke</button></a>
		<a href="/43/1"><button class="button m-2 p-4 is-size-5 is-info is-light">John</button></a>
		<a href="/44/1"><button class="button m-2 p-4 is-size-5 is-info is-light">The Acts</button></a>
		<a href="/45/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Romans</button></a>
		<a href="/46/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 Corinthians</button></a>
		<a href="/47/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 Corinthians</button></a>
		<a href="/48/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Galatians</button></a>
		<a href="/49/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Ephesians</button></a>
		<a href="/50/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Philippians</button></a>
		<a href="/51/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Colossians</button></a>
		<a href="/52/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 Thessalonians</button></a>
		<a href="/53/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 Thessalonians</button></a>
		<a href="/54/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 Timothy</button></a>
		<a href="/55/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 Timothy</button></a>
		<a href="/56/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Titus</button></a>
		<a href="/57/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Philemon</button></a>
		<a href="/58/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Hebrews</button></a>
		<a href="/59/1"><button class="button m-2 p-4 is-size-5 is-info is-light">James</button></a>
		<a href="/60/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 Peter</button></a>
		<a href="/61/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 Peter</button></a>
		<a href="/62/1"><button class="button m-2 p-4 is-size-5 is-info is-light">1 John</button></a>
		<a href="/63/1"><button class="button m-2 p-4 is-size-5 is-info is-light">2 John</button></a>
		<a href="/64/1"><button class="button m-2 p-4 is-size-5 is-info is-light">3 John</button></a>
		<a href="/65/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Jude</button></a>
		<a href="/66/1"><button class="button m-2 p-4 is-size-5 is-info is-light">Revelation</button></a>
	</section>
	<br>
	<p class="is-size-5">Bible from <a href="https://github.com/bontibon/kjv">bontibon/kjv</a> including Apocrypha</p>
	<br>
	<a class="is-size-4 is-link" href="https://github.com/lf32/shalom">lf32/shalom</a>
	</center>
  </body>
</html>
